version: "3.9"

services:
  app:
    build:
      context: .
      target: dev
    image: sidigit-app:dev
    restart: unless-stopped
    volumes:
      - ./:/var/www/html:Z
      - composer_cache:/tmp/composer
    command: >
      sh -c "
      chmod -R 777 storage bootstrap/cache &&
      php-fpm -y /usr/local/etc/php-fpm.conf -R
      "
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - sidigit

  web:
    image: nginx:1.27-alpine
    restart: unless-stopped
    depends_on:
      app:
        condition: service_started
    ports:
      - "8001:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - sidigit

  queue:
    build:
      context: .
      target: dev
    image: sidigit-app:dev
    command: sh -c "chmod -R 777 storage bootstrap/cache && php artisan queue:work --verbose --tries=3 --timeout=90"
    restart: unless-stopped
    depends_on:
      app:
        condition: service_started
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - ./:/var/www/html
    networks:
      - sidigit

  scheduler:
    build:
      context: .
      target: dev
    image: sidigit-app:dev
    command: sh -c "chmod -R 777 storage bootstrap/cache && php artisan schedule:work"
    restart: unless-stopped
    depends_on:
      app:
        condition: service_started
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - ./:/var/www/html
    networks:
      - sidigit

  horizon:
    build:
      context: .
      target: dev
    image: sidigit-app:dev
    command: sh -c "chmod -R 777 storage bootstrap/cache && php artisan horizon"
    restart: unless-stopped
    depends_on:
      app:
        condition: service_started
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    volumes:
      - ./:/var/www/html
    networks:
      - sidigit

volumes:
  composer_cache:
  node_modules:
  mysql_data:
  redis_data:

networks:
  sidigit:
    driver: bridge
