version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: sidigit-dev
    container_name: sidigit-dev
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      QUEUE_CONNECTION: redis
    ports:
      - "8081:8080"
    volumes:
      - .:/var/www/html
      - ./storage:/var/www/html/storage
    depends_on:
      - redis
    networks:
      - sidigit

  # horizon:
  #   image: sidigit-dev
  #   container_name: sidigit-horizon
  #   working_dir: /var/www/html
  #   command: ["php", "artisan", "horizon"]
  #   stop_signal: SIGTERM
  #   restart: unless-stopped
  #   healthcheck:
  #     test: ["CMD", "healthcheck-horizon"]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 3
  #     start_period: 10s
  #   environment:
  #     APP_ENV: local
  #     APP_DEBUG: "true"
  #     QUEUE_CONNECTION: redis
  #   volumes:
  #     - .:/var/www/html
  #     - ./storage:/var/www/html/storage
  #   depends_on:
  #     - redis
  #   networks:
  #     - sidigit

  redis:
    image: redis:8.2-alpine
    container_name: sidigit-redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    networks:
      - sidigit

volumes:
  redis_data:

networks:
  sidigit:
    driver: bridge
